*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  max-width: 1140px;  
  margin: 133px 30px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.result__video-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 3px;
}

.content__list {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-item {
  width: 390px;
  padding: 0 3px;
  box-sizing: border-box;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.search-form__fieldset:first-of-type {
  width: 225px;
  height: 54px;
}

.search-form__fieldset:last-of-type {
  width: 212px;
  height: 49px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  appearance: none;
  width:225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  background-color: #fff;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  height: 34px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  margin-left: 0;
  font-style: normal;
  padding: 6px 12px;
}

.more-button {
  width: 390px;
  gap: 10px;
  padding: 7px 12px;
}

.title {
  color: #FFF;
  width: 259px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
}

.content__accent {
  color: #545050;
}

.city-label,
.search-form__label-text,
.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.content__card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
}

.content__video-card-title { 
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button,
.content__card-link,
.search-form__checkbox,
.search-form__submit-button {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.search-form__textfield:focus-visible,
.search-form__checkbox:focus-visible,
.button:focus-visible,
.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__video-card-title:hover  {
  text-decoration: underline;
}

.content__video-card-description:hover  {
  text-decoration: underline;
}

.content__video-card-title::after,
.content__video-card-description::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}
