*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  height: 534px;
  margin: 133px 30px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.result__video-container {
  width: 711px;
  height: 456px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.result__video-container video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 16px;
}

.result__buttons {
  width: 711px;
  height: 54px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.city-block {
  width: 225px;
  height: 54px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time-block {
  width: 212px;
  height: 49px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 40px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
  margin-left: 0;
  border-width: 1px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-of-type {
  width: 225px;
  height: 54px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset:last-of-type {
  width: 212px;
  height: 49px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  appearance: none;
  width:225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  background-color: #fff;
}

.search-form__label:hover {
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  width: 259px;
  height: 210px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
}

.content__list {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.more-button {
  width: 390px;
  height: 34px;
  gap: 10px;
  border-width: 1px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__list-item {
  width: 390px;
  height: 103px;
  padding: 0 3px;
  box-sizing: border-box;
}

.content__card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  width: 190px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.content__video-card-title,
.content__video-card-description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.content__video-card-title::after,
.content__video-card-description::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}

.content__card-link:hover .content__video-card-title::after,
.content__card-link:hover .content__video-card-description::after {
  transform: scaleX(1);
}

.button,
.content__card-link,
.search-form__checkbox,
.search-form__submit-button {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.city-label {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.time-label {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__textfield:focus-visible,
.search-form__checkbox:focus-visible,
.button:focus-visible,
.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}
